# Compiled
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so

# Common
.idea/
.ipynb_checkpoints/

# Custom Extensions
**/*.rar
**/*.zip
**/*.tar.gz

# Custom Folders
bin/
binary/
env/
enviorment/
out/
output/
rep/
reports/
res/
resources/
tmp/
temporary/
