# Compiled
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so

# Common
.idea/
.ipynb_checkpoints/

# Custom Extensions
**/*.rar
**/*.zip

# Custom Folders
bin/
binary/
env/
enviorment/
out/
output/
res/
resources/
tmp/
temporary/
